/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #555;
  font-family: 'Open Sans', sans-serif;
}

nav {
  display: flex; 
  justify-content: space-between;
  padding: 1rem 80px;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/images/fryway-33.jpg') center/cover no-repeat;
  min-height: 82vh;
  image-rendering: -webkit-optimize-contrast;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero p {
  color: #fff;
  max-width: 50%; 
  text-align: center;
}

.lead {
  font-size: 1.7rem;
  margin-bottom: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: auto 1rem;
}

.btn {
  padding: 10px 30px;
  background: #eee;
  color: #111;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 1000000px;
  border: 2px solid #111;
  outline: none;
}

.btn:hover {
  cursor: pointer;
  background: #ddd;
  transform: scale(1.02);
}

footer {
  background-color: #111;
  color: #ddd;
  padding: 21px 100px;
  display: flex;
  justify-content: flex-end;
}

footer i {
  margin-left: 30px;
}