/* Font imports */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #555;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  font-size: 3rem;
}

nav {
  display: flex; 
  justify-content: space-between;
  padding: 1rem 80px;
}

.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url('/images/fryway-33.jpg') center/cover no-repeat;
  min-height: 82vh;
  image-rendering: -webkit-optimize-contrast;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero p {
  color: #fff;
  max-width: 50%; 
  text-align: center;
}

.lead {
  font-size: 1.7rem;
  margin-bottom: 100px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin: auto 8px;
  padding: 10px 30px;
  border-radius: 10000000px;
}

.nav-links li:hover {
  background-color: #ccc;
  cursor: pointer;
}

.btn {
  padding: 10px 30px;
  background: #eee;
  color: #111;
  font-weight: 700;
  font-size: 1.2rem;
  border-radius: 1000000px;
  border: 2px solid #111;
  outline: none;
}

.btn:hover {
  cursor: pointer;
  background: #ddd;
  transform: scale(1.02);
}

footer {
  background-color: #111;
  color: #ddd;
  padding: 21px 100px;
  display: flex;
  justify-content: flex-end;
}

footer i {
  margin-left: 30px;
}

/* Menu Styles */
.menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  max-width: 80%;
  margin: 60px auto;
}

.menu-item {
  padding: 1rem;
}

.menu-item h2 {
  text-align: center;
  padding: 1rem;
}

.menu-item img {
  width: 100%;
  height: 250px;
  overflow: auto;  
}

.menu-item p {
  padding: 1rem 0 .5rem;
  font-size: 1.1rem;
}

.menu-item span {
  font-weight: 700;
  font-size: 1.3rem;
}

/* Contact Styles */
.contact-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 60px auto;
}

.contact-details {
  margin: auto;
}

.contact-details p {
  margin: .5rem;
  font-weight: 600;
  font-size: 1.3rem;
}

.contact-form {
  width: 650px;
  margin: auto;
  grid-column: span 2;
  margin: 100px auto;
  border: 1px solid #333;
  border-radius: 1rem;
  padding: 1.5rem;
}

.contact-form h3 {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.contact-form p {
  text-align: center;
  padding: 1rem;
  font-size: 1.1rem;
}

.contact-form div {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 1rem;
}

.contact-form label {
  text-align: end;
  margin-right: 20px;
  font-weight: 600;
  font-size: 1.3rem;
}

.contact-form textarea,
.contact-form input {
  border-radius: 5px;
  border: 1px solid #777;
  font-size: 1rem;
  padding: 7px
}

.contact-form textarea {
  min-height: 200px;
  resize: vertical;
}

.btn-send {
  display: block;
  padding: 7px 50px;
  outline: none;
  border: none;
  border-radius: 1000000px;
  background: green;
  color: #fff;
  font-size: 1.2rem;
  margin: 20px auto;
}

.btn-send:hover {
  cursor: pointer;
  transform: scale(1.01);
}

@media(max-width: 1200px) {
  .menu-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media(max-width: 1000px) {
  .contact-container {
    display: block;
  }

  iframe {
    display: block;
    margin: 40px auto;
    width: 75%;
  }

  .contact-details p {
    margin: auto;
    text-align: center;
  }
  footer {
    justify-content: center;
  }
}

@media(max-width: 680px) {
  nav {
    display: block;
    text-align: center;
  }
  nav h2 {
    padding: 1rem;
    font-size: 2rem;
  }
 
  .nav-links {
    margin: auto;
    display: block;
  }


  .menu-container {
    grid-template-columns: repeat(1, 1fr);
  } 
  
  .contact-form {
    width: 90%;
  }
  
  .contact-form div {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
  }

  .contact-form label {
    text-align: left;
    padding: 1rem 0;
  }

}